#panel-demo-1 #demo-chart {
  float: left;
  width: 170px;
  text-align: center;
}
#panel-demo-1 #demo-table {
  float: left;
  width: 320px;
  margin-top: 10px;
}
#panel-demo-1 #demo-table .table {
  width: 360px;
}
#panel-demo-1 #demo-table .table td {
  max-width: 75px;
}
