<div class="page page-cloumn-3" id="page-home">
    <div ng-include="'partials/side-menu.html'"></div>
    <div class="main-wrapper">
        <div class="panel">
            <h2>标题一</h2>
        </div>
        <div class="panel">
            <h2>标题一</h2>
        </div>
        <div class="panel">
            <h2>标题一</h2>
        </div>
    </div>
    <div class="side-window-wrapper">
        <div class="panel">
            <h2>标题二</h2>
        </div>
    </div>
    <div class="clearfix"></div>
</div>